.rule {
  display: flex;
  flex-direction: row;
}
.rule .dropdown-root {
  height: 32px;
  outline: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0px 4px;
  border: none;
}
.rule .dropdown-root:focus {
  height: 32px;
  outline: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.rule .dropdown-root .dropdown-control {
  border: 1px solid #ddd;
  font-size: 12px;
  font-weight: normal;
}
.rule .dropdown-root .dropdown-control .dropdown-placeholder {
  color: #a6a6a6;
}
.rule .dropdown-root .dropdown-menu {
  border: 1px solid #ddd;
  max-height: 140px;
}
.rule .dropdown-root .dropdown-menu .dropdown-option {
  color: #201F1E;
  padding: 0px 5px;
  line-height: 36px;
}
.rule .dropdown-root .dropdown-menu .dropdown-option.is-selected {
  background-color: #f5f5f5;
}
.rule .form-auto-complete:not([multiple]):not([size]) {
  background-color: white;
}
.rule .form-auto-complete {
  margin: 0px 4px;
  font-size: 12px;
  min-height: auto;
}
.rule .form-auto-complete .form-input {
  height: 32px;
  margin-top: 0px;
  border: 1px solid #ddd;
  border-radius: 2px;
}
.rule .form-auto-complete .menu {
  min-width: auto;
  transform: none;
  max-height: 140px;
}
.rule .form-auto-complete .menu div {
  overflow: hidden;
}
.rule .form-auto-complete .menu .menu-item button:hover {
  background: #F5F5F5;
}
.rule .rule-value-parent {
  padding: 0px 4px;
  font-family: 'Nunito Sans', sans-serif;
  box-sizing: border-box;
}
.rule .rule-value-parent .rule-value {
  border: 1px solid #dddddd;
  height: 32px;
  outline: none;
  overflow: hidden;
  padding: 0px 0px 0px 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  box-sizing: border-box;
}
.rule .rule-value-parent .rule-value:disabled {
  cursor: not-allowed;
}
.rule .rule-value-parent .rule-value:focus {
  border: 1px solid #dddddd;
  height: 32px;
  outline: none;
  overflow: hidden;
  padding: 0px 0px 0px 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  box-sizing: border-box;
}
.rule .textarea .rule-value {
  resize: none;
}
.ruleGroup {
  background: #f5f5f5;
  border: 1px solid #dddddd;
  padding: 2px;
}
.ruleGroup .ruleGroup-combinators.betweenRules {
  margin: 10px;
}
.ruleGroup .rule {
  background: #f5f5f5;
  width: 100%;
  min-height: 32px;
  padding: 5px 0px;
}
.ruleGroup .ruleGroup {
  background: #f5f5f5;
  margin: 5px;
  padding: 5px;
}
.rule-remove {
  background: transparent;
  border: none;
  outline: none;
  line-height: 32px;
  padding-left: 10px;
  text-align: start;
}
.ruleGroup-remove {
  background: transparent;
  border: none;
  min-width: 30px;
}
.query-generator .queryBuilder {
  max-height: 500px;
  max-width: 500px;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 5px;
  border: 1px solid #cccccc;
}
.query-generator .queryBuilder-footer {
  display: flex;
  flex-direction: row;
}
.ruleGroup-header {
  display: flex;
  margin: 0px 5px;
}
.ruleGroup-header .ruleGroup-addGroup {
  background: #f5f5f5;
  border: none;
  color: #333333;
  margin-left: auto;
  outline: none;
  padding: 5px 15px;
}
.ruleGroup-header .ruleGroup-addGroup:focus {
  background: #f5f5f5;
  border: none;
  color: #333333;
  margin-left: auto;
  outline: none;
  padding: 5px 15px;
}
.ruleGroup-addRule {
  background: #f5f5f5;
  border: none;
  color: #333333;
  margin-left: 5px;
  outline: none;
  padding: 5px 15px;
}
.ruleGroup-addRule:focus {
  background: #f5f5f5;
  border: none;
  color: #333333;
  margin-left: 5px;
  outline: none;
  padding: 5px 15px;
}
.ruleGroup-clearRule {
  background: #f5f5f5;
  border: none;
  color: #333333;
  margin-left: auto;
  outline: none;
  padding: 5px 15px;
}
.ruleGroup-clearRule:focus {
  background: #f5f5f5;
  border: none;
  color: #333333;
  margin-left: auto;
  outline: none;
  padding: 5px 15px;
}
.query-generator.hide-group .ruleGroup-header .ruleGroup-addGroup {
  display: none;
}
.query-generator.hide-group .ruleGroup-header .ruleGroup-addRule {
  margin-left: auto;
}
.ruleGroup-combinators {
  border: none;
  display: flex;
  flex-direction: row;
  padding: 0px;
}
.ruleGroup-combinators label {
  padding-right: 10px;
}
.ruleGroup-combinators .combinators.active {
  background: #f5f5f5;
}
.radio {
  font-size: 12px;
  font-weight: 500;
  display: inline-flex;
  align-items: center;
  color: black;
}
.radio input {
  display: none;
}
.radio .circle {
  position: relative;
  height: 12px;
  width: 12px;
  border: 1px solid #cccccc;
  display: inline-block;
  border-radius: 50%;
}
.radio .circle:after {
  content: '';
  display: block;
  position: absolute;
  background: #cccccc;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
.radio .radio-title {
  padding-left: 5px;
}
.radio input:checked ~ .circle:after {
  background: #0078D4;
  width: 6px;
  height: 6px;
}
.radio input:checked ~ .circle {
  border: 1px solid #0078D4;
}
.queryBuilder .rule .rule-fields,
.queryBuilder .rule .rule-operators,
.queryBuilder .rule .rule-value,
.queryBuilder .rule .rule-value-parent {
  width: 100%;
  height: 32px;
}
.queryBuilder .rule .rule-value-parent.textarea,
.queryBuilder .rule .textarea .rule-value {
  height: 55px;
  max-height: 55px;
  white-space: pre-line;
}
.queryBuilder .no-rule {
  width: 100%;
  padding-left: 10px;
  vertical-align: middle;
  display: flex;
  flex-direction: column;
  min-height: 30px;
  line-height: 30px;
  font-size: 12px;
}
.queryBuilder .clear-rule {
  font-size: 12px;
}
