.rule {
  display: flex;
  flex-direction: row;
}
.rule .dropdown-root {
  height: 32px;
  outline: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0px 4px;
  border: none;
}
.rule .dropdown-root:focus {
  height: 32px;
  outline: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.rule .dropdown-root .dropdown-control {
  border: 1px solid #ddd;
  font-size: 12px;
  font-weight: normal;
}
.rule .dropdown-root .dropdown-control .dropdown-placeholder {
  color: #a6a6a6;
}
.rule .dropdown-root .dropdown-menu {
  border: 1px solid #ddd;
  max-height: 140px;
}
.rule .dropdown-root .dropdown-menu .dropdown-option {
  color: #201f1e;
  padding: 0px 5px;
  line-height: 36px;
}
.rule .dropdown-root .dropdown-menu .dropdown-option.is-selected {
  background-color: #f5f5f5;
}
.rule .form-auto-complete:not([multiple]):not([size]) {
  background-color: white;
}
.rule .form-auto-complete {
  margin: 0px 4px;
  font-size: 12px;
  min-height: auto;
}
.rule .form-auto-complete .form-input {
  height: 32px;
  margin-top: 0px;
  border: 1px solid #ddd;
  border-radius: 2px;
}
.rule .form-auto-complete .menu {
  min-width: auto;
  transform: none;
  max-height: 140px;
}
.rule .form-auto-complete .menu div {
  overflow: hidden;
}
.rule .form-auto-complete .menu .menu-item button:hover {
  background: #f5f5f5;
}
.rule .rule-value-parent {
  padding: 0px 4px;
  font-family: 'Nunito Sans', sans-serif;
  box-sizing: border-box;
}
.rule .rule-value-parent .rule-value {
  border: 1px solid #dddddd;
  height: 32px;
  outline: none;
  overflow: hidden;
  padding: 0px 0px 0px 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  box-sizing: border-box;
}
.rule .rule-value-parent .rule-value:disabled {
  cursor: not-allowed;
}
.rule .rule-value-parent .rule-value:focus {
  border: 1px solid #dddddd;
  height: 32px;
  outline: none;
  overflow: hidden;
  padding: 0px 0px 0px 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  box-sizing: border-box;
}
.rule .textarea .rule-value {
  resize: none;
}
.rule .date-input-container {
  height: 32px;
  width: 100%;
  margin-right: 6px;
}
.rule .date-input-container .custom-input-class {
  border: 1px solid #dddddd !important;
  border-radius: 1px !important;
  height: 32px;
  outline: none;
  overflow: hidden;
  padding: 0px 0px 0px 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  box-sizing: border-box;
  margin-left: 4px;
  background: url(../assets/icons/calender.svg) no-repeat;
  background-position: right 9px top 9px;
}
.rule .date-input-container .custom-input-class:disabled {
  cursor: not-allowed;
}
.rule .date-input-container .custom-input-class:focus {
  border: 1px solid #dddddd;
  height: 32px;
  outline: none;
  overflow: hidden;
  padding: 0px 0px 0px 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  box-sizing: border-box;
}
.rule .date-input-container .date-modal-container {
  display: flex;
  flex-direction: column;
  height: auto;
  position: absolute;
  padding: 15px;
  gap: 7px;
  box-shadow: 0 1em 4em #00000012;
  width: 203px;
  background-color: white;
  z-index: 100;
  right: 0;
}
.rule .date-input-container .date-modal-container.top-position-modal {
  top: -32px;
}
.rule .date-input-container .date-modal-container .label-container {
  display: flex;
  justify-content: flex-start;
  align-items: end;
}
.rule .date-input-container .date-modal-container .label-container .footer-text {
  margin-left: 2px;
  font-size: 12px;
}
.rule .date-input-container .date-modal-container .date-filter-wrapper {
  position: relative;
  height: 175px;
}
.rule .date-input-container .date-modal-container .date-filter-wrapper .DatePicker {
  position: absolute;
  display: inline-block;
  z-index: 100;
}
.rule .date-input-container .date-modal-container .date-filter-wrapper .DatePicker__input {
  background: #fff;
  border: 1px solid #ddd;
  padding: 0.4em 0.8em;
  font-family: inherit;
  text-align: left;
  font-size: 12px;
}
.rule .date-input-container .date-modal-container .date-filter-wrapper .DatePicker__input::before {
  -webkit-appearance: none;
  width: 20px;
  padding: 0px;
  margin: 0px;
  cursor: pointer;
}
.rule .date-input-container .date-modal-container .date-filter-wrapper .DatePicker__input.-rtl {
  direction: rtl;
}
.rule .date-input-container .date-modal-container .date-filter-wrapper .DatePicker__input::placeholder {
  color: #979797;
}
.rule .date-input-container .date-modal-container .date-filter-wrapper .DatePicker__calendarContainer.-top + .DatePicker__calendarArrow {
  top: auto;
  bottom: calc(100% + 10px);
  transform: translateY(-2.5rem) rotate(180deg);
  animation: fadeArrowFlipped 0.3s forwards;
}
.rule .date-input-container .date-modal-container .date-filter-wrapper .DatePicker__calendarContainer {
  position: absolute;
  top: calc(100% + 10px);
  transform: translateX(-50%);
  left: calc(100% - 250px);
}
.rule .date-input-container .date-modal-container .date-filter-wrapper .DatePicker__calendarContainer.-top {
  top: auto;
  bottom: calc(100% + 20px);
}
.rule .date-input-container .date-modal-container .date-filter-wrapper .Calendar {
  min-width: 175px;
  height: 175px;
}
.rule .date-input-container .date-modal-container .date-filter-wrapper .Calendar * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  direction: ltr;
}
.rule .date-input-container .date-modal-container .date-filter-wrapper .Calendar,
.rule .date-input-container .date-modal-container .date-filter-wrapper .Calendar.-rtl * {
  direction: rtl;
}
.rule .date-input-container .date-modal-container .date-filter-wrapper .DatePicker__calendarArrow {
  position: absolute;
  width: 0;
  height: 0;
  top: calc(100% + 10px);
  left: 0;
  right: 0;
  margin: 0 auto;
  border-style: solid;
  z-index: 10;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #fff transparent;
}
.rule .date-input-container .date-modal-container .date-filter-wrapper .Calendar {
  --cl-color-black: #444444;
  --cl-color-disabled: #d4d4d4;
  --cl-color-error: #ff2929;
  font-size: 7px;
  background: #fff;
  box-shadow: none;
  position: absolute;
  user-select: none;
  display: flex;
  flex-direction: column;
  width: 175px !important;
  z-index: 10;
  max-width: 90vw;
  min-height: 16.7em;
  border: 1px solid #a6a6a6;
}
.rule .date-input-container .date-modal-container .date-filter-wrapper .DatePicker .Calendar,
.rule .date-input-container .date-modal-container .date-filter-wrapper .DatePicker__calendarArrow {
  transform: translateY(2.5em);
  opacity: 0;
  animation: fadeCalendar 0.3s forwards;
}
.rule .date-input-container .date-modal-container .date-filter-wrapper .DatePicker__calendarContainer.-top .Calendar {
  transform: translateY(-2.5em);
}
.rule .date-input-container .date-modal-container .date-filter-wrapper .Calendar.-noFocusOutline *:focus {
  outline: none !important;
}
.rule .date-input-container .date-modal-container .date-filter-wrapper .Calendar > :not(.Calendar__footer) button {
  font-family: inherit;
  background: transparent;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  outline: none;
}
.rule .date-input-container .date-modal-container .date-filter-wrapper .Calendar__header {
  display: flex;
  color: var(--cl-color-black);
  padding: 1.5em 12px !important;
  align-items: center;
  overflow: hidden;
}
.rule .date-input-container .date-modal-container .date-filter-wrapper .Calendar__monthArrowWrapper {
  line-height: 0;
  font-size: 7px;
  padding: 3px;
  position: relative;
  border: none;
  z-index: 1;
  opacity: 1;
  transition: 0.2s;
}
.rule .date-input-container .date-modal-container .date-filter-wrapper .Calendar__monthArrowWrapper:focus {
  outline: 1px dashed rgba(0, 0, 0, 0.4);
  outline-offset: 2px;
}
.rule .date-input-container .date-modal-container .date-filter-wrapper .Calendar__monthArrowWrapper:disabled,
.rule .date-input-container .date-modal-container .date-filter-wrapper .Calendar__monthArrowWrapper.-hidden {
  opacity: 0;
  pointer-events: none;
}
.rule .date-input-container .date-modal-container .date-filter-wrapper .Calendar__monthArrowWrapper.-left {
  transform: rotate(90deg);
}
.rule .date-input-container .date-modal-container .date-filter-wrapper .Calendar.-rtl .Calendar__monthArrowWrapper.-left {
  transform: rotate(-90deg);
}
.rule .date-input-container .date-modal-container .date-filter-wrapper .Calendar__monthArrowWrapper.-right {
  transform: rotate(-90deg);
}
.rule .date-input-container .date-modal-container .date-filter-wrapper .Calendar.-rtl .Calendar__monthArrowWrapper.-right {
  transform: rotate(90deg);
}
.rule .date-input-container .date-modal-container .date-filter-wrapper .Calendar__monthArrowWrapper:active .Calendar__monthArrow {
  transform: scale(0.7);
}
.rule .date-input-container .date-modal-container .date-filter-wrapper .Calendar__monthArrow {
  border-radius: 50%;
  transition: var(--animation-duration) transform;
  pointer-events: none;
  background-repeat: no-repeat;
  display: block;
  width: 1.7em;
  height: 1.7em;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg class='nc-icon-wrapper' fill='%23000000'%3E%3Cdefs stroke='none'%3E%3C/defs%3E%3Cpath class='cls-1' d='M12 23.25V.75' fill='none' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5px'%3E%3C/path%3E%3Cpath class='cls-2' d='M22.5 11.25L12 .75 1.5 11.25' fill='none' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5px' fill-rule='evenodd'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
  background-size: 100% 100%;
}
.rule .date-input-container .date-modal-container .date-filter-wrapper .Calendar__monthYearContainer {
  flex: 1;
  position: relative;
}
.rule .date-input-container .date-modal-container .date-filter-wrapper .Calendar__monthArrowWrapper span {
  font-size: 7px !important;
}
.rule .date-input-container .date-modal-container .date-filter-wrapper .Calendar__monthYear {
  font-size: 11px !important;
  font-weight: 500;
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  will-change: transform, opacity;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: var(--animation-duration);
  line-height: 1;
}
.rule .date-input-container .date-modal-container .date-filter-wrapper .Calendar__monthYear.-hiddenNext {
  opacity: 0;
  transform: translateX(50%);
}
.rule .date-input-container .date-modal-container .date-filter-wrapper .Calendar.-rtl .Calendar__monthYear.-hiddenNext {
  transform: translateX(-150%);
}
.rule .date-input-container .date-modal-container .date-filter-wrapper .Calendar__monthYear.-hiddenPrevious {
  opacity: 0;
  transform: translateX(-150%);
}
.rule .date-input-container .date-modal-container .date-filter-wrapper .Calendar.-rtl .Calendar__monthYear.-hiddenPrevious {
  transform: translateX(50%);
}
.rule .date-input-container .date-modal-container .date-filter-wrapper .Calendar__monthYear.-shown {
  opacity: 1;
  margin-top: auto;
  margin-bottom: auto;
  transform: translateX(-50%);
}
.rule .date-input-container .date-modal-container .date-filter-wrapper .Calendar__monthYear.-shownAnimated {
  animation: var(--animation-duration) fadeTextToCenter forwards;
}
.rule .date-input-container .date-modal-container .date-filter-wrapper .Calendar__monthYear > * {
  border: 1px solid transparent;
  transition: var(--animation-duration);
  font-size: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(0) scale(0.95);
  will-change: transform;
  border-radius: 5px;
}
.rule .date-input-container .date-modal-container .date-filter-wrapper .Calendar__monthYear:not(.-shown) > *,
.rule .date-input-container .date-modal-container .date-filter-wrapper .Calendar__monthYear > *.-hidden {
  cursor: default;
  pointer-events: none;
}
.rule .date-input-container .date-modal-container .date-filter-wrapper .Calendar__monthText {
  margin-left: -0.3em;
}
.rule .date-input-container .date-modal-container .date-filter-wrapper .Calendar__yearText:last-child {
  margin-right: -0.3em;
}
.rule .date-input-container .date-modal-container .date-filter-wrapper .Calendar__monthYear.-shown > *:hover,
.rule .date-input-container .date-modal-container .date-filter-wrapper .Calendar:not(.-noFocusOutline) .Calendar__monthYear.-shown > *:focus,
.rule .date-input-container .date-modal-container .date-filter-wrapper .Calendar__monthYear > *.-activeBackground {
  background: #f5f5f5;
}
.rule .date-input-container .date-modal-container .date-filter-wrapper .Calendar__monthText:hover {
  transform: translateX(-0.2em) scale(0.95);
}
.rule .date-input-container .date-modal-container .date-filter-wrapper .Calendar.-rtl .Calendar__monthText:hover {
  transform: translateX(0.2em) scale(0.95);
}
.rule .date-input-container .date-modal-container .date-filter-wrapper .Calendar__yearText:hover {
  transform: translateX(0.2em) scale(0.95);
}
.rule .date-input-container .date-modal-container .date-filter-wrapper .Calendar.-rtl .Calendar__yearText:hover {
  transform: translateX(-0.2em) scale(0.95);
}
.rule .date-input-container .date-modal-container .date-filter-wrapper .Calendar__monthYear .Calendar__yearText.-hidden {
  transform: translateX(50%);
  opacity: 0;
}
.rule .date-input-container .date-modal-container .date-filter-wrapper .Calendar.-rtl .Calendar__monthYear .Calendar__yearText.-hidden {
  transform: translateX(-50%);
}
.rule .date-input-container .date-modal-container .date-filter-wrapper .Calendar__monthYear .Calendar__monthText.-hidden {
  transform: translateX(-50%);
  opacity: 0;
}
.rule .date-input-container .date-modal-container .date-filter-wrapper .Calendar.-rtl .Calendar__monthYear .Calendar__monthText.-hidden {
  transform: translateX(50%);
}
.rule .date-input-container .date-modal-container .date-filter-wrapper .Calendar__monthYear:not(.-shown) > * {
  pointer-events: none;
}
.rule .date-input-container .date-modal-container .date-filter-wrapper .Calendar__monthSelectorAnimationWrapper,
.rule .date-input-container .date-modal-container .date-filter-wrapper .Calendar__yearSelectorAnimationWrapper {
  position: absolute;
  width: 100%;
  height: 80%;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.rule .date-input-container .date-modal-container .date-filter-wrapper .Calendar__monthSelectorWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rule .date-input-container .date-modal-container .date-filter-wrapper .Calendar__monthSelector {
  padding: 0 15px;
  align-content: center;
}
.rule .date-input-container .date-modal-container .date-filter-wrapper .Calendar__monthSelector,
.rule .date-input-container .date-modal-container .date-filter-wrapper .Calendar__yearSelector {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 2;
  background-color: #fff;
  transform: translateY(-150%);
  will-change: transform;
  transition: 0.6s;
  height: 100%;
}
.rule .date-input-container .date-modal-container .date-filter-wrapper .Calendar__yearSelectorWrapper {
  width: 100%;
  height: 100%;
}
.rule .date-input-container .date-modal-container .date-filter-wrapper .Calendar__yearSelectorWrapper::after,
.rule .date-input-container .date-modal-container .date-filter-wrapper .Calendar__yearSelectorWrapper::before {
  content: '';
  width: 100%;
  height: 5em;
  position: absolute;
  left: 0;
  opacity: 0;
  transition: 0.4s;
  transition-delay: 0.2s;
}
.rule .date-input-container .date-modal-container .date-filter-wrapper .Calendar__yearSelectorWrapper::after {
  background-image: linear-gradient(to bottom, #fff, #fff 10%, rgba(245, 245, 245, 0));
  top: -0.1em;
}
.rule .date-input-container .date-modal-container .date-filter-wrapper .Calendar__yearSelectorWrapper::before {
  background-image: linear-gradient(to top, #fff, #fff 10%, rgba(245, 245, 245, 0));
  bottom: 0;
}
.rule .date-input-container .date-modal-container .date-filter-wrapper .Calendar__yearSelectorWrapper.-faded::after,
.rule .date-input-container .date-modal-container .date-filter-wrapper .Calendar__yearSelectorWrapper.-faded::before {
  opacity: 1;
  z-index: 3;
}
.rule .date-input-container .date-modal-container .date-filter-wrapper .Calendar__yearSelector {
  align-content: flex-start;
  scrollbar-width: 0;
  overflow: scroll;
  position: relative;
  width: 100%;
  padding: 20px 15px;
  -ms-overflow-style: none;
}
.rule .date-input-container .date-modal-container .date-filter-wrapper .Calendar__yearSelector::-webkit-scrollbar {
  display: none;
}
.rule .date-input-container .date-modal-container .date-filter-wrapper .Calendar__yearSelectorItem {
  width: 25%;
  display: flex;
  justify-content: center;
}
.rule .date-input-container .date-modal-container .date-filter-wrapper .Calendar__yearSelectorItem:not(:nth-child(-n + 4)) {
  margin-top: 1.5em;
}
.rule .date-input-container .date-modal-container .date-filter-wrapper .Calendar__yearSelectorText {
  border: none;
  font-size: 12px;
  min-width: 85%;
  padding: 0.2em 0.5em;
  border-radius: 8.5px;
}
.rule .date-input-container .date-modal-container .date-filter-wrapper .Calendar__monthSelector.-open,
.rule .date-input-container .date-modal-container .date-filter-wrapper .Calendar__yearSelector.-open {
  transform: translateY(0);
}
.rule .date-input-container .date-modal-container .date-filter-wrapper .Calendar__yearSelectorText:focus,
.rule .date-input-container .date-modal-container .date-filter-wrapper .Calendar__monthSelectorItemText:focus {
  outline: 1px dashed rgba(0, 0, 0, 0.4);
  outline-offset: 2px;
}
.rule .date-input-container .date-modal-container .date-filter-wrapper .Calendar__monthSelectorItem {
  width: calc(100% / 3);
  display: flex;
  justify-content: center;
}
.rule .date-input-container .date-modal-container .date-filter-wrapper .Calendar__monthSelectorItem:not(:nth-child(-n + 3)) {
  margin-top: 2em;
}
.rule .date-input-container .date-modal-container .date-filter-wrapper .Calendar__monthSelectorItemText {
  border: none;
  padding: 0.4em 0.4em;
  border-radius: 8.5px;
  font-size: 12px;
  min-width: 70%;
  transition: 0.3s;
}
.rule .date-input-container .date-modal-container .date-filter-wrapper .Calendar__monthSelectorItem:not(.-active) .Calendar__monthSelectorItemText:not(:disabled):hover,
.rule .date-input-container .date-modal-container .date-filter-wrapper .Calendar__yearSelectorItem:not(.-active) .Calendar__yearSelectorText:not(:disabled):hover {
  background: #f5f5f5;
}
.rule .date-input-container .date-modal-container .date-filter-wrapper .Calendar__monthSelectorItemText:disabled,
.rule .date-input-container .date-modal-container .date-filter-wrapper .Calendar__yearSelectorText:disabled {
  opacity: 0.5;
  cursor: default;
}
.rule .date-input-container .date-modal-container .date-filter-wrapper .Calendar__monthSelectorItem.-active .Calendar__monthSelectorItemText,
.rule .date-input-container .date-modal-container .date-filter-wrapper .Calendar__yearSelectorItem.-active .Calendar__yearSelectorText {
  background-color: var(--cl-color-primary);
  color: #fff;
}
.rule .date-input-container .date-modal-container .date-filter-wrapper .Calendar__weekDays {
  display: flex;
  justify-content: space-between;
  color: var(--cl-color-disabled);
  font-size: 11px;
  padding: 0 15px;
  position: relative;
}
.rule .date-input-container .date-modal-container .date-filter-wrapper .Calendar__weekDay {
  display: block;
  width: calc(100% / 7);
  text-align: center;
  text-decoration: none;
}
.rule .date-input-container .date-modal-container .date-filter-wrapper .Calendar__sectionWrapper {
  position: relative;
  min-height: 15.8em !important;
  overflow: hidden;
}
.rule .date-input-container .date-modal-container .date-filter-wrapper .Calendar__section {
  display: flex;
  flex-direction: column;
  padding: 0 15px;
  position: absolute;
  color: var(--cl-color-black);
  top: 0;
  left: 0;
  width: 100%;
  will-change: transform, opacity;
  transform: translateZ(0);
  backface-visibility: hidden;
  transition: var(--animation-duration);
}
.rule .date-input-container .date-modal-container .date-filter-wrapper .Calendar__section.-hiddenPrevious {
  opacity: 0.5;
  transform: translateX(-90%);
}
.rule .date-input-container .date-modal-container .date-filter-wrapper .Calendar.-rtl .Calendar__section.-hiddenPrevious {
  transform: translateX(90%);
}
.rule .date-input-container .date-modal-container .date-filter-wrapper .Calendar__section.-hiddenNext {
  opacity: 0.5;
  transform: translateX(90%);
}
.rule .date-input-container .date-modal-container .date-filter-wrapper .Calendar.-rtl .Calendar__section.-hiddenNext {
  transform: translateX(-90%);
}
.rule .date-input-container .date-modal-container .date-filter-wrapper .Calendar__section.-shown {
  opacity: 1;
  transform: translateX(0);
}
.rule .date-input-container .date-modal-container .date-filter-wrapper .Calendar__section.-shownAnimated {
  animation: var(--animation-duration) FadeContentToCenter forwards;
}
.rule .date-input-container .date-modal-container .date-filter-wrapper .Calendar__weekRow {
  display: flex;
  width: 100%;
}
.rule .date-input-container .date-modal-container .date-filter-wrapper .Calendar__day {
  display: block;
  width: calc(100% / 7);
  text-align: center;
  padding: calc(0.25em - 1px) 0;
  font-size: 12px;
  border-radius: 50%;
  transition: 0.2s;
  border: 1px solid transparent;
  color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.rule .date-input-container .date-modal-container .date-filter-wrapper .Calendar__day:focus {
  outline: 1px dashed rgba(0, 0, 0, 0.4);
  outline-offset: 2px;
}
.rule .date-input-container .date-modal-container .date-filter-wrapper .Calendar__day.-ltr {
  min-height: 1.8em !important;
  font-size: 9px !important;
}
.rule .date-input-container .date-modal-container .date-filter-wrapper .Calendar__day.-rtl {
  font-size: 12px;
  height: 2.45em;
}
.rule .date-input-container .date-modal-container .date-filter-wrapper .Calendar__day:not(.-blank):not(.-selectedStart):not(.-selectedEnd):not(.-selectedBetween):not(.-selected):hover {
  background: #eaeaea;
  border-radius: 50%;
  color: var(--cl-color-black);
  border-color: transparent;
}
.rule .date-input-container .date-modal-container .date-filter-wrapper .Calendar__day.-selected,
.rule .date-input-container .date-modal-container .date-filter-wrapper .Calendar__day.-selectedStart,
.rule .date-input-container .date-modal-container .date-filter-wrapper .Calendar__day.-selectedEnd {
  background: var(--cl-color-primary);
  color: #fff;
}
.rule .date-input-container .date-modal-container .date-filter-wrapper .Calendar__day.-ltr.-selectedStart {
  border-radius: 0;
  border-top-left-radius: 100em;
  border-bottom-left-radius: 100em;
}
.rule .date-input-container .date-modal-container .date-filter-wrapper .Calendar__day.-rtl.-selectedStart {
  border-radius: 0;
  border-top-right-radius: 100em;
  border-bottom-right-radius: 100em;
}
.rule .date-input-container .date-modal-container .date-filter-wrapper .Calendar__day.-selectedBetween {
  background: var(--cl-color-primary-light);
  color: var(--cl-color-primary);
  border-radius: 0;
}
.rule .date-input-container .date-modal-container .date-filter-wrapper .Calendar__day.-ltr.-selectedEnd {
  border-top-right-radius: 100em;
  border-bottom-right-radius: 100em;
}
.rule .date-input-container .date-modal-container .date-filter-wrapper .Calendar__day.-rtl.-selectedEnd {
  border-top-left-radius: 100em;
  border-bottom-left-radius: 100em;
}
.rule .date-input-container .date-modal-container .date-filter-wrapper .Calendar__day.-weekend:not(.-selected):not(.-blank):not(.-selectedStart):not(.-selectedEnd):not(.-selectedBetween) {
  color: var(--cl-color-error);
}
.rule .date-input-container .date-modal-container .date-filter-wrapper .Calendar__day.-weekend.-today:not(.-selectedStart):not(.-selectedEnd):not(.-selectedBetween)::after {
  background: var(--cl-color-error);
}
.rule .date-input-container .date-modal-container .date-filter-wrapper .Calendar__day.-disabled {
  color: var(--cl-color-disabled) !important;
  background: transparent !important;
  cursor: default !important;
}
.rule .date-input-container .date-modal-container .date-filter-wrapper .Calendar__day.-selected {
  border-radius: 50%;
}
.rule .date-input-container .date-modal-container .date-filter-wrapper .Calendar__day.-today:not(.-selectedStart):not(.-selectedEnd):not(.-selectedBetween) {
  font-weight: 600;
  color: var(--cl-color-black);
  color: #000;
  position: relative;
}
.rule .date-input-container .date-modal-container .date-filter-wrapper .Calendar__day.-today:not(.-selectedStart):not(.-selectedEnd):not(.-selectedBetween)::after {
  content: '';
  position: absolute;
  bottom: 0.2em;
  display: block;
  width: 0.6em;
  height: 1px;
  background: #000;
  left: 50%;
  opacity: 0.5;
  transform: translateX(-50%);
  transition: 0.2s;
}
.rule .date-input-container .date-modal-container .date-filter-wrapper .Calendar__day.-today:hover:not(.-selectedStart):not(.-selectedEnd):not(.-selectedBetween)::after {
  opacity: 0;
}
.rule .date-input-container .date-modal-container .date-filter-wrapper .Calendar__day.-blank {
  color: transparent;
  cursor: default;
  pointer-events: none;
}
.rule .date-input-container .date-modal-container .date-filter-wrapper .Calendar__footer {
  position: relative;
  z-index: 1;
  display: flex;
  padding: 0px 0px 6px 6px;
  align-items: center;
}
@keyframes fadeCalendar {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeArrowFlipped {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateY(0) rotate(180deg);
  }
}
@keyframes fadeTextToCenter {
  to {
    opacity: 1;
    transform: translateX(-50%);
  }
}
@keyframes FadeContentToCenter {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.ruleGroup {
  background: #f5f5f5;
  border: 1px solid #dddddd;
  padding: 2px;
}
.ruleGroup .ruleGroup-combinators.betweenRules {
  margin: 10px;
}
.ruleGroup .rule {
  background: #f5f5f5;
  width: 100%;
  min-height: 32px;
  padding: 5px 0px;
}
.ruleGroup .ruleGroup {
  background: #f5f5f5;
  margin: 5px;
  padding: 5px;
}
.rule-remove {
  background: transparent;
  border: none;
  outline: none;
  line-height: 32px;
  padding-left: 10px;
  text-align: start;
}
.ruleGroup-remove {
  background: transparent;
  border: none;
  min-width: 30px;
}
.query-generator .queryBuilder {
  max-height: 500px;
  max-width: 500px;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 5px;
  border: 1px solid #cccccc;
}
.query-generator .queryBuilder .queryBuilder-header {
  display: flex;
  flex-direction: row;
}
.query-generator .queryBuilder-footer {
  display: flex;
  flex-direction: row;
}
.ruleGroup-header {
  display: flex;
  margin: 0px 5px;
}
.ruleGroup-header .ruleGroup-addGroup {
  background: #f5f5f5;
  border: none;
  color: #333333;
  margin-left: auto;
  outline: none;
  padding: 5px 15px;
}
.ruleGroup-header .ruleGroup-addGroup:focus {
  background: #f5f5f5;
  border: none;
  color: #333333;
  margin-left: auto;
  outline: none;
  padding: 5px 15px;
}
.ruleGroup-addRule {
  background: #f5f5f5;
  border: none;
  color: #333333;
  margin-left: 5px;
  outline: none;
  padding: 5px 15px;
}
.ruleGroup-addRule:focus {
  background: #f5f5f5;
  border: none;
  color: #333333;
  margin-left: 5px;
  outline: none;
  padding: 5px 15px;
}
.ruleGroup-clearRule {
  background: #f5f5f5;
  border: none;
  color: #333333;
  margin-left: auto;
  outline: none;
  padding: 5px 15px;
}
.ruleGroup-clearRule:focus {
  background: #f5f5f5;
  border: none;
  color: #333333;
  margin-left: auto;
  outline: none;
  padding: 5px 15px;
}
.query-generator.hide-group .ruleGroup-header .ruleGroup-addGroup {
  display: none;
}
.query-generator.hide-group .ruleGroup-header .ruleGroup-addRule {
  margin-left: auto;
}
.disable-or label:nth-child(2),
.disable-or label:nth-child(2) .circle,
.disable-or label:nth-child(2) > input[type='radio'] {
  cursor: not-allowed;
  pointer-events: all !important;
  opacity: 0.5;
}
.ruleGroup-combinators {
  border: none;
  display: flex;
  flex-direction: row;
  padding: 0px;
}
.ruleGroup-combinators label {
  padding-right: 10px;
}
.ruleGroup-combinators .combinators.active {
  background: #f5f5f5;
}
.radio {
  font-size: 12px;
  font-weight: 500;
  display: inline-flex;
  align-items: center;
  color: black;
}
.radio input {
  display: none;
}
.radio .circle {
  position: relative;
  height: 12px;
  width: 12px;
  border: 1px solid #cccccc;
  display: inline-block;
  border-radius: 50%;
}
.radio .circle:after {
  content: '';
  display: block;
  position: absolute;
  background: #cccccc;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
.radio .radio-title {
  padding-left: 5px;
}
.radio input:checked ~ .circle:after {
  background: #0078d4;
  width: 6px;
  height: 6px;
}
.radio input:checked ~ .circle {
  border: 1px solid #0078D4;
}
.queryBuilder .rule .rule-fields,
.queryBuilder .rule .rule-operators,
.queryBuilder .rule .rule-value,
.queryBuilder .rule .rule-value-parent {
  width: 100%;
  height: 32px;
}
.queryBuilder .rule .rule-value-parent.textarea,
.queryBuilder .rule .textarea .rule-value {
  height: 55px;
  max-height: 55px;
  white-space: pre-line;
}
.queryBuilder .no-rule {
  width: 100%;
  padding-left: 10px;
  vertical-align: middle;
  display: flex;
  flex-direction: column;
  min-height: 32px;
  line-height: 32px;
  font-size: 11px;
}
.queryBuilder .clear-rule {
  font-size: 12px;
}
.flexi-filter-dropdown .queryBuilder-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 32px;
}
.flexi-filter-dropdown .queryBuilder-header .no-rule {
  width: auto;
}
.flexi-filter-dropdown .queryBuilder-header .queryBuilder-header-addfilter {
  display: flex;
  align-items: center;
  padding-right: 10px;
}
.flexi-filter-dropdown .queryBuilder-header .queryBuilder-header-addfilter span:first-child {
  color: #0078d4;
}
.flexi-filter-dropdown .queryBuilder-header .queryBuilder-header-addfilter .queryBuilder-footer-title {
  margin-left: 4px;
  font-weight: 600;
  font-size: 11px;
}
.flexi-filter-dropdown .queryBuilder-header.singleRule {
  justify-content: flex-end;
}
.flexi-filter-dropdown .queryBuilder-header.multiRule {
  min-height: 0;
}
.flexi-filter-dropdown .queryBuilder-header.multiRule .queryBuilder-header-addfilter {
  position: absolute;
  top: 10px;
  right: 0;
}
.queryBuilder-footer-advanced .queryBuilder-footer-title {
  padding: 4px 6px;
}
