.rule {
	.rule-fields {
		margin: 0px 5px;
		padding: 5px 5px;
		border: 1px solid #cccccc;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		outline: none;
		height: 32px;
		width: 100%;
		&:focus {
			margin: 0px 5px;
			padding: 5px 5px;
			border: 1px solid #cccccc;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			outline: none;
			height: 32px;
			width: 100%;
		}
	}
	.rule-operators {
		margin: 0px 5px;
		padding: 5px 5px;
		border: 1px solid #cccccc;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		outline: none;
		height: 32px;
		width: 100%;
		&:focus {
			margin: 0px 5px;
			padding: 5px 5px;
			border: 1px solid #cccccc;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			outline: none;
			height: 32px;
			width: 100%;
		}
	}
	.rule-value {
		margin: 0px 5px;
		padding: 5px 5px;
		border: 1px solid #cccccc;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		outline: none;
		height: 32px;
		width: 100%;
		padding: 0px;
		height: 30px;
		&:focus {
			margin: 0px 5px;
			padding: 5px 5px;
			border: 1px solid #cccccc;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			outline: none;
			height: 32px;
			width: 100%;
			padding: 0px;
			height: 30px;
		}
	}
}
.ruleGroup {
	border: 1px solid #cccccc !important;
	background: transparent !important;
	.ruleGroup-combinators.betweenRules {
		margin: 10px;
	}
	.rule {
		padding: 5px;
		margin: 5px;
		background: #f5f5f5 !important;
	}
	.ruleGroup {
		padding: 5px;
		margin: 5px;
		background: #f5f5f5 !important;
	}
}
.rule-remove {
	min-width: 30px;
	background: transparent !important;
	border: none !important;
	border: none;
}
.ruleGroup-remove {
	min-width: 30px;
	background: transparent !important;
	border: none !important;
	border: none;
}
.query-generator.hide-group {
	.ruleGroup-addGroup {
		display: none !important;
	}
}
.query-generator {
	max-width: 500px;
	max-height: 500px;
	overflow-y: auto;
	overflow-x: hidden;
}
.queryBuilder {
	.ruleGroup {
		.ruleGroup {
			background: #f5f5f5 !important;
			.ruleGroup-header {
				display: none !important;
			}
		}
	}
	>.ruleGroup {
		>.rule {
			border: 1px solid #cccccc;
			border-radius: 4px;
		}
	}
}
.ruleGroup-header {
	display: flex;
	margin: 5px;
	.ruleGroup-addGroup {
		outline: none;
		border: none;
		background: #f5f5f5;
		color: #333333;
		padding: 5px 15px;
		margin-left: auto;
		&:focus {
			outline: none;
			border: none;
			background: #f5f5f5;
			color: #333333;
			padding: 5px 15px;
			margin-left: auto;
		}
	}
}
.ruleGroup-addRule {
	outline: none;
	border: none;
	background: #f5f5f5;
	color: #333333;
	padding: 5px 15px;
	margin-left: auto;
	&:focus {
		outline: none;
		border: none;
		background: #f5f5f5;
		color: #333333;
		padding: 5px 15px;
		margin-left: auto;
	}
}
.ruleGroup-combinators {
	border: none;
	padding: 0px;
	display: flex;
	flex-direction: row;
	.combinators {
		padding: 5px;
		border: 1px solid #cccccc;
		background: #ffffff;
		outline: none;
		width: 100%;
		&:focus {
			padding: 5px;
			border: 1px solid #cccccc;
			outline: none;
			width: 100%;
		}
	}
	.combinators.active {
		background: #f5f5f5;
	}

}
.rule-top {
	padding: 2px 0px;
	display: flex;
	flex-direction: row;
}
.rule-bottom {
	padding: 2px 0px;
	display: flex;
	flex-direction: row;
}
